Flow1
[
    {
        "id": "24fa161a.21e86a",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4d8764a6.b70acc",
        "type": "debug",
        "z": "24fa161a.21e86a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "96d834a5.3b56b8",
        "type": "rpi-gpio in",
        "z": "24fa161a.21e86a",
        "name": "Button",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 180,
        "y": 220,
        "wires": [
            [
                "4d8764a6.b70acc",
                "f60a5612.0de908"
            ]
        ]
    },
    {
        "id": "5530e377.afab1c",
        "type": "rpi-gpio out",
        "z": "24fa161a.21e86a",
        "name": "LED",
        "pin": "11",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "f60a5612.0de908",
        "type": "switch",
        "z": "24fa161a.21e86a",
        "name": "if input  is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "38ff94d8.4b718c"
            ],
            [
                "8e11b90c.e49938"
            ]
        ]
    },
    {
        "id": "38ff94d8.4b718c",
        "type": "change",
        "z": "24fa161a.21e86a",
        "name": "Change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 280,
        "wires": [
            [
                "5530e377.afab1c"
            ]
        ]
    },
    {
        "id": "8e11b90c.e49938",
        "type": "change",
        "z": "24fa161a.21e86a",
        "name": "Change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 360,
        "wires": [
            [
                "5530e377.afab1c"
            ]
        ]
    }
]
